

body{
  color: #404545;
  font-family: 'Corbel';
}


/* Headers grootte en kleuren */
h1 {
  font-size: 32px;
  font-family: 'Helvetica';
  font-weight: bold;
  text-transform: uppercase;
  color: #404545;
}

h2 {
  font-size: 20px;
  font-family: 'Helvetica';
  font-weight: bold;
  text-transform: uppercase;
  color: #404545;
}

h3 {
  font-size: 20px;
  font-family: 'Helvetica';
  font-weight: bold;
  text-transform: uppercase;
  color: #404545;
}

h4 {
  font-size: 20px;
  font-family: 'Helvetica';
  font-weight: bold;
  text-transform: uppercase;
  color: #404545;
}

/* logo's */

.dica {
  position:absolute;
  top:20px;
  right:0;
  width:100px;
  height:auto;
}

.chief {
  position:absolute;
  top:20px;
  right:0;
  width:100px;
  height:auto;
}

/* .dt-buttons { */
/*  color: #404545; */
/*  background-color: #d4e3db; */
/* } */

/* Tabs kleuren en kenmerken */
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #404545;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #404545;
    background-color: #d4e3db;
}


/* Floating index kleuren */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #404545;
    background-color: #d4e3db;
    border-color: #d4e3db;
}


